header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
body {
	overflow:scroll;
    	background-color: powderblue;
	background-image: url("image/SeeingSpots.jpg");
	display:block;
}


h1 {
    color: blue;
}

h2{
	color:steelblue;	
}
p {
    color: red;
}

nav {
    float: center;
     background-color: #fff;
    margin: 0;
    text-align: left;
	display: block;
}

aside{
	text-align : right;
	
}


.navbar-fixed-top {
    top: 0px;
    border-width: 0 0 1px;
}


.container-nav {
    <!--width:1170px;-->
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container{
	padding-bottom:10px;
}


.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

.navbar-fixed-top {
    top: 0px;
    border-width: 0 0 1px;
}


.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border: 1px solid transparent;
	border-radius: 4px;
}


.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}


.navbar-nav {
    float: left;
    margin: 0;
}

.nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #080808;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0px 6px 12px rgba(0,0,0,0.175);
}

.nav > li {
    position: relative;
    display: block;
}

.navbar-nav > li {
    float: left;
}

.Search-Nav> li {
    float:right;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.Search-Nav> li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.collapse.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0px;
    overflow: visible !important;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon2{
	position: relative;
    top: 10px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
	font-size : 25px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.dropbtn{
    background-color: #222;
    color: #9d9d9d;
    border: none;
    cursor: pointer;
padding-left: 30px;
padding-down: 20px;
 	
}

.dropbtn div{
    width: 35px;
    height: 5px;
    background-color: #9d9d9d;
    margin: 6px 0;
    
}

.dropdown {
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 40px;
    z-index: 1;
}

.dropdown-content a {
    color: #9d9d9d;
    padding: 15px 40px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #222 ;
			color: #9d6d6d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #222;
}

/* product section*/

.product_main_block{
	background-color:red;	
	width:70%;
	margin: 50px auto;
	display:block;
}


.product_nav_element{
	padding:40px 20px;
	background-color:yellow;
	border:5px;
	width:15%;
	float:left;
	//position:static;
	height:1000px;
	
}

.product_nav_element > li> a > span{
	display:block;
	text-align:left;
	margin-top:10px;
	
}

.product_nav_element > li{
	list-style:none;
}

.product_main_hot-display{
	background-color:green;
	width:85%;
	float:right;
	display:inline-block;
}

.product_main_listing{
	background-color:green;
	width:85%;
	float:right;
	display:block;
	position:relative;
	margin-bottom:10px;
}

#item >div{
	margin:20px 16px;
	padding:5px 10px;
	background-color:pink;
	width:21.25%;
	float:left;
	display:inline-block;
}

#item > div>a {
	text-align:left;
	text-shadow:0.5px 0.1px #ff0000;
}

img{
	width:100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


/*  this is footer*/

footer{
	display:block;
	//margin-top:10px;
}

.wrap{
	min-height:calc(100vh-20px);
}


